@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: #ffffff;
    
    font-family: 'Reem Kufi Fun', sans-serif;
    scroll-behavior: smooth;

}

/* Estilizando a barra de rolagem */
.overflow-auto::-webkit-scrollbar {
    width: 6px;
    background-color: #63000d;
}

/* Estilizando o polegar da barra de rolagem */
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #ff0015;
    border-radius: 4px;
}

/* Estilizando a barra de rolagem */
.overflow-x-scroll::-webkit-scrollbar {
    height: 4px;
    background-color: #480063;
    border-radius: 20px;
}

/* Estilizando o polegar da barra de rolagem */
.overflow-x-scroll::-webkit-scrollbar-thumb {
    
    background-color: #C936FF;
    border-radius: 20px;
}